body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    height: 100vh;
    margin: 0;
}
.image-container {
    min-width: 20vw;
    min-height: 20vw;
    max-width: 25vw;
    max-height: 25vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.random-image {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
#message {
    margin-top: 20px;
}